* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

.container {

    height: 100vh;

    @media (min-width: 1024px) {}


}

.sidebar {
    width: 245px;
    background-color: black;

    @media (max-width: 700px) {}
}

.content {
    flex: 1;
    background-color: rgb(86, 9, 154);

    .block {
        background-color: rgb(9, 146, 18);
        width: calc(100% - 245px);
        height: 570px;
        margin-left: 3rem;
        margin-top: 7rem;


        .row {
            background-color: grey;
            height: 95px;
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;


            .col-2 {
                background-color: pink;
                display: flex;
                border-style: dashed;
                padding-bottom: 20rem;
                gap: 5px;

            }
        }

    }

}

.bottom {
    height: 70px;
    background-color: grey;


}

.logo {
    width: 10rem;
    height: 10rem;

}