* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

.container {

    height: 100vh;

    @media (min-width: 1024px) {}


}

/* region utility */

.d-flex {
    display: flex;
}


/* endregion utility */


.top {
    height: calc(100% - 70px);
}



.sidebar {
    width: 245px;
    background-color: black;

    @media (max-width: 700px) {}
}


.logo {
    width: 7rem;
    height: 7rem;


}



.content {
    flex: 1;
    background-color: rgb(86, 9, 154);
    padding-left: 3px;
    padding-right: 3px;
    overflow-x: hidden;

}


.bar {
    display: flex;
    
}


.block{
    background-color: green;
    width: calc(100% - 245px);
    margin-left: 3rem;
}




.row {
 background-color: blue;
 height: 95px;
 margin-top: 40px;
 display: flex;
 justify-content: space-evenly;
            
            


            .col-2 {
                background-color: pink;
                display: flex;
                border-style: dashed;
                padding-bottom: 20rem;
                gap: 5px;

            }
        }

    }

}

.bottom {
    height: 70px;
    background-color: rgba(128, 128, 128, 0.582);
    width: 100%;


}
