* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

.container {

    height: 100vh;

    @media (min-width: 1024px) {}


}

/* region utility */

.d-flex {
    display: flex;
}


/* endregion utility */


.top {
    height: calc(100% - 70px);
    background-color: blue;

}



.sidebar {
    width: 245px;
    background-color: black;

    @media (max-width: 700px) {}
}


.logo {
    width: 7rem;
    height: 7rem;


}

.content {
    flex: 1;
    background-color: #2a2a33;
    padding-left: 3px;
    padding-right: 3px;
    overflow-x: hidden;

}


.bar {
    display: flex;
    height: 70px;
    background-color: rgb(2, 2, 42);
    width: 100%;
}


.block {
    background-color: green;
    width: calc(100% - 245px);
    margin-left: 3rem;
}


.row {
    background-color: blue;
    display: flex;
    justify-content: space-evenly;

}


.col-2 {
    border-style: groove;
    padding: 0.5rem;
    display: flex;

    

}


.bottom {
    height: 70px;
    background-color:  rgb(54 50 50 / 82%);
    width: 100%;
}